[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10.8"

[packages]
robotframework-seleniumlibrary = "*"
selenium = "*"
webdriver-manager = "*"
python-dotenv = "*"
robotframework = "*"
rpaframework = "*"
robotframework-tidy = "*"

[scripts]
run-tests = "robot"

[dev-packages]
